.post-comments
    .comments-header
        .comments-header-content
            | You can reply to this post on &nbsp;
            a(href="https://fosstodon.org/interact/" + page.discussions.mastodon.id + "?type=reply", target="_blank") Mastodon
        a.load-comments-btn(onclick=`Blog.loadComments("fosstodon.org", "${page.discussions.mastodon.id}")`) Load Comments
    .comments-target
