.blog-support
    .blog-support-cta-container
        a.blog-support-btn(href="https://ko-fi.com/lorefnon", target="_blank", title="Support my work")
        .blog-support-arrow
        p.support-text.body-text
            | Support my blog and open-source work
