.blog-footer.body-text
    p.copyright-container: strong © 2021 Gaurab Paul
    p Unless otherwise mentioned in specific contexts, all code is licensed under the The MIT License and all content and artwork is licensed under CC BY-NC-SA.
    p The opinions expressed herein are author's personal viewpoints and may not be taken as professional recommendations from any of his previous or current employers.
    hr
    p
        | Header Image credit:
        a(href="https://www.pexels.com/photo/stainless-steel-lamp-788855/", target="_blank", rel="noreferrer noopener") Nikita Khandelwal

script(src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.min.js")
script(src="/js/blog.js")
