.blog-summary(href="/", hx-boost="false")
    a.primary-link
        h1.header-text Gaurab Paul
        h2.header-text Polyglot software developer passionate about web development, distributed systems and open source technologies
    .blog-support
        .blog-support-cta-container
            a.blog-support-btn(href="https://ko-fi.com/lorefnon", target="_blank", title="Support my work")

