head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/blog.css")
    meta(property="og:title", content="Gaurab Paul | Blog")
    meta(property="og:description", content="Ramblings on Web Development and software architecture")
