doctype html

html.no-js

    include _blog_head.pug

    body.blog-body(hx-boost="true")
        include _blog_summary.pug

        .blog-sidebar
            include _tag_list.pug

        .blog-header.blog-collection-header
            - const activeTab = "all"
            if page.tag
                h1.header-text 
                    | Posts for tag:&nbsp;
                    span.current-tag= page.tag
            else
                include _blog_tabs.pug

        .blog-main
            - page.footer_left_link = { href: "/blog/popular", label: "Popular Posts" }
            include _post_list.pug

        include _blog_tail.pug