doctype html

html.no-js

    include _blog_head.pug

    body.blog-body(hx-boost="true")
        - let posts = site.posts.filter(it => it.popular).sort('date', -1)
        - const tagNames = _.uniq(_.map(_.flatten(_.map(posts.toArray(), it => it.tags.toArray())), 'name'))
        - let tags = site.tags.filter(it => _.includes(tagNames, it.name))
        - let footer_left_link = { href: "/blog/", label: "View All Posts" }
        - let page = { posts, tags, footer_left_link }

        include _blog_summary.pug

        .blog-sidebar
            include _blog_support.pug
            include _tag_list.pug
        .blog-header.blog-collection-header
            - const activeTab = "popular"
            include _blog_tabs.pug
        .blog-main
            include _post_list.pug 
        include _blog_tail.pug
