doctype html

html.no-js
    include _blog_head.pug

    body.blog-body(hx-boost="true")
        include _blog_summary.pug

        .blog-sidebar
            include _tag_list.pug

        .blog-header.blog-post-header
            .blog-post-header-inner
                .header-text= page.title
                if page.date
                    .posted-date.sub-header-text(title=page.date.format("YYYY-MM-DD"))
                        | Posted &nbsp;
                        = page.date.fromNow()
                hr.blog-header-separator

        .blog-main
            if page.is_outdated
                .flex-row.post-warning
                    img(src="/images/primary/alert-triangle.svg", style="margin-right: 1rem")
                    | This post has not been updated in quite some time and the content here may be out of date 
                    | or not reflect my current my recommedation in the matter.

            if page.post_warnings
                each warning in page.post_warnings
                    .flex-row.post-warning
                        img(src="/images/primary/alert-triangle.svg", style="margin-right: 1rem")
                        = warning

            .page-content !{page.content}

        include _blog_tail.pug