---
date: "2018-08-18"
title: "Integrating Next.js, Apollo Server and Koa"
permalink: "2018/08/18/integrating-next-js-apollo-server-and-koa/"
tags: [Next.js, Koa, Apollo]
---
<link rel="stylesheet" href="/css/crayon.min.css" >
<link rel="stylesheet" href="/css/crayon-flatui-light.css" >



	<p>It is fairly straightforward to add a GraphQL API powered by <a href="https://www.apollographql.com/docs/apollo-server/" target="_blank" rel="noreferrer noopener">Apollo Server</a> to a <a href="http://nextjs.org/" target="_blank" rel="noreferrer noopener">Next.js</a> application through a <a href="https://koajs.com/" target="_blank" rel="noreferrer noopener">koa</a> middleware.</p>
<p>The abbreviated snippet below summarizes the setup along with the libraries involved:</p>
<p><span id="more-325"></span><br>
<script src="https://gist.github.com/lorefnon/65b50deebef37228416331234885cde6.js"></script></p>


    