layout: false
---
doctype html

html.no-js
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/home.css")
        meta(property="og:title", content="Gaurab Paul")
        meta(property="og:description", content="Polyglot software engineer passionate about web development, distributed systems and open source technologies")
    body.block(style="display: none")
        .page-container
            .page-container-inner
                .author-intro
                    .author-intro-inner
                        h1.header-text Gaurab Paul
                        h2.header-text Polyglot software engineer passionate about web development, distributed systems and open source technologies
                        br
                        .flex-row.links
                            a.blog-link.body-text(href="/blog") Blog
                            a.ico-link(href="https://github.com/lorefnon", target="_blank") 
                                img(src="/images/primary/github.svg")
                            a.ico-link(href="https://www.linkedin.com/in/gaurab-paul-a2472921/", target="_blank")
                                img(src="/images/primary/linkedin.svg")
                            a.ico-link(href="https://twitter.com/lorefnon", target="_blank")
                                img(src="/images/primary/twitter.svg")
