layout: false
---
doctype html

html.no-js
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
        link(rel="icon" href="/images/favicon/favicon.ico")
        title Lorefnon
        link(rel="stylesheet", href="/css/home.css")
        meta(property="og:title", content="Lorefnon")
        meta(property="og:description", content="Polyglot software developer & consultant passionate about web development, distributed systems and open source technologies")
        script( data-goatcounter="https://analytics.lorefnon.com/count" async src="https://analytics.lorefnon.com/count.js")

    body.block(style="display: none")
        .page-container
            .page-container-inner
                .author-intro
                    .author-intro-bkg
                        .author-intro-bkg-inner
                    .author-intro-inner
                        h1.header-text Gaurab Paul
                        h2.header-text Polyglot software developer &amp; consultant passionate about web development, distributed systems and open source technologies
                        br
                        .flex-row.links
                            a.blog-link.body-text(href="/blog/popular") Blog
                            a.ico-link(href="https://fosstodon.org/@lorefnon", target="_blank", rel="me")
                                img(src="/images/primary/mastodon.svg")
                            a.ico-link(href="https://github.com/lorefnon", target="_blank", rel="noopener noreferrer")
                                img(src="/images/primary/github.svg")
                            a.ico-link(href="https://www.linkedin.com/in/gaurab-paul-a2472921/", target="_blank", rel="noopener noreferrer")
                                img(src="/images/primary/linkedin.svg")
                            a.ico-link(href="https://twitter.com/lorefnon", target="_blank", rel="noopener noreferrer")
                                img(src="/images/primary/twitter.svg")
                .bkg-img-credit.elongated-text
                    | Background image by &nbsp;
                    a(target="_blank", href="https://www.pexels.com/@aarv", rel="noreferrer noopener") Arvind Shakya
