layout: false
---
doctype html

html.no-js
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(property="og:title", content="Lorefnon")
        meta(property="og:description", content="Polyglot software engineer passionate about web development, distributed systems and open source technologies")
        link(rel="icon", href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤓</text></svg>")
        title Lorefnon
        link(rel="stylesheet", href="/css/home.css")
    body.block(style="display: none")
        .page-container
            .page-container-inner
                .author-intro
                    .author-intro-bkg
                        .author-intro-bkg-inner
                    .author-intro-inner
                        h1.header-text Gaurab Paul
                        h2.header-text Polyglot software engineer passionate about web development, distributed systems and open source technologies
                        br
                        .flex-row.links
                            a.blog-link.body-text(href="/blog/popular") Blog
                            a.ico-link(href="https://github.com/lorefnon", target="_blank") 
                                img(src="/images/primary/github.svg")
                            a.ico-link(href="https://www.linkedin.com/in/gaurab-paul-a2472921/", target="_blank")
                                img(src="/images/primary/linkedin.svg")
                            a.ico-link(href="https://twitter.com/lorefnon", target="_blank")
                                img(src="/images/primary/twitter.svg")
                .bkg-img-credit.elongated-text
                    | Background image by 
                    a(target="_blank", href="https://www.pexels.com/@aarv", rel="noreferrer noopener") Arvind Shakya
